<h2>Author: <%= @author.name %></h2>

<h4>My Books</h4>

<% @author.books.each do |book| %>
  <section id="test-author-book-info-<%= book.id %>">
    <p>Title: <%= link_to book.title, book_path(book.id) %></p>
    <p>Number of Pages: <%= book.pages %></p>
    <p>Year Published: <%= book.year_pub %></p>
    <% book.authors.each do |author| %>
      <% if author != @author %>
        <p>Co-Author: <%= link_to author.name, author_path(author) %></p>
      <% end %>
    <% end %>
    <img id="author-book-image" src="<%= book.cover_img %>" />
    <div class="author-book-review">
      <p>Review Title: <%= @review.title %></p>
      <p>By: <%= @user.name %></p>
      <p>Rating: <%= @review.rating %></p>
      <p>Description: <%= @review.body %></p>
    </div>
  </section>
<% end %>

<section class="author-delete">
  <%= link_to "Delete Author", author_path(@author), method: :delete, data: {confirm: "Are you sure you want to delete this author and all their books?"} %>
</section>
