<h2>Author: <%= @author.name %></h2>

<img id="cover-thumbnail" src="<%= @author.author_img %>" />

<h4>My Books</h4>

<% @author.books.each do |book| %>
  <section id="test-author-book-info-<%= book.id %>">
    <p>Title: <%= link_to book.title, book_path(book.id) %></p>
    <p>Number of Pages: <%= book.pages %></p>
    <p>Year Published: <%= book.year_pub %></p>
    <% book.authors.each do |author| %>
      <% if author != @author %>
        <p>Co-Author: <%= link_to author.name, author_path(author) %></p>
      <% end %>
    <% end %>
    <img id="cover-thumbnail" src="<%= book.cover_img %>" />
    <% if book.reviews.any? %>
    <div class="author-book-review">
      <p>Top Review: <%= book.find_top_review.title %></p>
      <p>By: <%= link_to book.find_top_review.user.name, user_path(book.find_top_review.user) %></p>
      <p>Rating: <%= book.find_top_review.rating %></p>
      <p>Description: <%= book.find_top_review.body %></p>
    </div>
    <% end %>
  </section>
<% end %>

<section class="author-delete">
  <%= link_to "Delete Author", author_path(@author), method: :delete, data: {confirm: "Are you sure you want to delete this author and all their books?"} %>
</section>
