<section id="add-new">
  <%= link_to "Add New Book", new_book_path %>
</section>

<div class="books-index">
  <% @books.each do |book| %>
    <div class="book-card" id="test-book-index-<%= book.id %>">
      <h3>Title: <%= link_to book.title, book_path(book.id) %></h3>
      <img class="cover-thumbnail" src="<%= book.cover_img %>"/>
      <p>Pages: <%= book.pages %></p>
      <p>Published: <%= book.year_pub %></p>
      <% book.authors.each do |author| %>
      <p>Author(s): <%= link_to author.name, author_path(author.id) %></p>
      <% end %>
      <p>Rating: <%= book.average_rating %></p>
      <p>Reviews: <%= book.total_reviews %></p>
    </div>
  <% end %>
</div>


<section id="sort-links">
  <li><%= link_to "Sort By Average Rating (Ascending)", books_path(sort: "avg_rating_asc") %></li>
  <li><%= link_to "Sort By Average Rating (Descending)", books_path(sort: "avg_rating_desc") %></li>
  <li><%= link_to "Sort By Number of Pages (Ascending)", books_path(sort: "pages_asc") %></li>
  <li><%= link_to "Sort By Number of Pages (Descending)", books_path(sort: "pages_desc")%></li>
  <li><%= link_to "Sort By Number of Reviews (Ascending)", books_path(sort: "reviews_asc") %></li>
  <li><%= link_to "Sort By Number of Reviews (Descending)", books_path(sort: "reviews_desc") %></li>
</section>

<section class="stats">
  <div class="stats-card" id="test-best-books">
    <h4>Three Best Rated Books:</h4>
    <% @top_three_books.each do |book| %>
    <ul class="stats-info">
      <li>Title: <%= link_to book.title, book_path(book.id) %></li>
      <li>Average Rating: <%= book.average_rating %></li>
    </ul>
    <% end %>
  </div>

  <div class="stats-card" id="test-worst-books">
    <h4>Three Worst Rated Books:</h4>
    <% @bottom_three_books.each do |book| %>
    <ul class="stats-info">
      <li>Title: <%= link_to book.title, book_path(book.id) %></li>
      <li>Average Rating: <%= book.average_rating %></li>
    </ul>
    <% end %>
  </div>
  
  <div class="stats-card" id="test-best-users">
    <h4>Users With Most Reviews:</h4>
    <% @top_three_users.each do |user| %>
    <ul class="stats-info">
      <li>User Name: <%= link_to user.name, user_path(user) %></li>
      <li>Number of Reviews: <%= user.reviews.count %></li>
    </ul>
    <% end %>
  </div>
</section>
