<h1><%= @book.title %></h1>
<% @book.authors.each do |author| %>
  <p>Author(s): <%= author.name %></p>
<% end %>
<p><%= @book.pages %></p>
<p><%= @book.year_pub %></p>
<img src="<%= @book.cover_img %>"/>
<h4>Reviews</h4>

<p><% @book.reviews.each do |review| %></p>
<ul>
  <li><%= review.title %></li>
  <li>Rating: <%= review.rating %></li>
  <li><%= review.body %></li>
</ul>
<% end %>

<div class="delete-book">
  <%= link_to "Delete Book", book_path(@book), method: :delete %>
</div>
