<section id="add-new">
  <%= link_to "Add A Review", new_book_review_path(@book) %>
</section>

<div class="delete">
  <%= link_to "Delete Book", book_path(@book), method: :delete, data: {confirm: "Do you really want to deplete your library?"} %>
</div>

<h1><%= @book.title %></h1>

<main class="show-page">
  <div class="book-card">
    <% @book.authors.each do |author| %>
    <p>Author(s): <%= link_to author.name, author_path(author.id) %></p>
    <% end %>
    <p>Pages: <%= @book.pages %></p>
    <p>Year Published: <%= @book.year_pub %></p>
    <p>Average Rating: <%= @book.average_rating %></p>
  </div>
  <div class="show-page-image">
    <img class="large-image" src="<%= @book.cover_img %>"/>
  </div>

  <div class="stats" id="book-show-page-stats">
    <div class="stats-card" id="best-three-reviews">
      <% if @book.reviews.count > 0 %>
        <h4>Best Reviews:</h4>
        <% @book.best_three_reviews.each do |review| %>
          <ul class="stats-info">
            <li>Review Title: <%= review.title %></li>
            <li>Rating: <%= review.rating %></li>
            <li>Reviewer: <%= link_to review.reviewer_name(review[:user_id]), user_path(review[:user_id]) %> </li>
          </ul>
        <% end %>
      <% end %>
    </div>

    <div class="stats-card" id="worst-three-reviews">
      <% if @book.reviews.count > 0 %>
        <h4>Worst Reviews:</h4>
        <% @book.worst_three_reviews.each do |review| %>
          <ul class="stats-info">
            <li>Review Title: <%= review.title %></li>
            <li>Rating: <%= review.rating %></li>
            <li>Reviewer: <%= link_to review.reviewer_name(review[:user_id]), user_path(review[:user_id]) %> </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>

    <h3>Reviews</h3>
    <% @book.reviews.each do |review| %>
      <div class="review-card" id="all-reviews">
        <li>Review Title: <%= review.title %></li>
        <li>Reviewer: <%= link_to review.user.name, user_path(review.user.id) %></li>
        <li>Rating: <%= review.rating %></li>
        <li><%= review.body %></li>
      </div>
    <% end %>
</main>
