<h1><%= @book.title %></h1>

<div id="book-show-page-stats">
  <p>Average Rating: <%= @book.average_rating %></p>

  <div id="best-three-reviews">
    <% if @book.reviews.count > 0 %>
      <p>Best Reviews:</p>
      <% @book.best_three_reviews.each do |review| %>
        <p><%= review.title %></p>
        <p>Rating: <%= review.rating %></p>
        <p>Reviewer: <%= link_to review.reviewer_name, user_path(review[:user_id]) %> </p>
        <p>------------------------------</p>
      <% end %>
    <% end %>
  </div>

  <div id="worst-three-reviews">
    <% if @book.reviews.count > 0 %>
      <p>Worst Reviews:</p>
      <% @book.worst_three_reviews.each do |review| %>
        <p><%= review.title %></p>
        <p>Rating: <%= review.rating %></p>
        <p>Reviewer: <%= link_to review.reviewer_name, user_path(review[:user_id]) %> </p>
        <p>------------------------------</p>
      <% end %>
    <% end %>
  </div>

</div>

<% @book.authors.each do |author| %>
  <p>Author(s): <%= link_to author.name, author_path(author.id) %></p>
<% end %>
<p>Pages: <%= @book.pages %></p>
<p>Year Published: <%= @book.year_pub %></p>
<img src="<%= @book.cover_img %>"/>
<h4>Reviews</h4>

<<div class="all-reviews">
  <p><% @book.reviews.each do |review| %></p>
  <ul>
    <li><%= review.title %></li>

    <li>Reviewer: <%= link_to review.user.name, user_path(review.user.id) %></li>

    <li>Rating: <%= review.rating %></li>
    <li><%= review.body %></li>
  </ul>
  <% end %>
</div>

<section id="add-new-review">
  <p><%= link_to "Add A Review", new_book_review_path(@book) %></p>
</section>

<div class="delete-book">
  <%= link_to "Delete Book", book_path(@book), method: :delete, data: {confirm: "Do you really want to deplete your library?"} %>
</div>
