<h1><%= @book.title %></h1>
<% @book.authors.each do |author| %>
  <p>Author(s): <%= author.name %></p>
<% end %>
<p><%= @book.pages %></p>
<p><%= @book.year_pub %></p>
<img src="<%= @book.cover_img %>"/>
