<main class="forms">
  <h1>Add New Review</h1>

  <%= form_for [@book, @review] do |f| %>
    <div class="forms-field">
      <%= f.label :title %>:
      <%= f.text_field :title %><br />
    </div>
    <div class="forms-field">
      <%= f.label "User Name" %>:
      <%= f.text_field :user %><br />
    </div>
    <div class="forms-field">
      <%= f.label :rating %>:
      <%= f.text_field :rating %><br />
    </div>
    <div class="forms-field">
      <%= f.label :body %>:
      <%= f.text_field :body %><br />
    </div>
    <div class="forms-button">
      <%= f.submit "Create Review" %>
    </div>
  <% end %>
  
</main>
