<!DOCTYPE html>
<html>
  <head>
    <title>BookClubBrianSmitha</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <ul class="nav-bar">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "All Books", books_path %></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
